:root {
  // Width containers
  --common-container: 960px;

  //max-width
  --mw-840: 840px;
  --mw-480: 480px;

  //COLORS
  --primary: #1edc1a;

  //background
  --bg-color-1: #fff;
  --bg-color-2: #fdfdfd;
  --bg-color-3: #8ef02c;
  --bg-color-4: #db243a;
  --bg-color-5: #e10000;
  --bg-color-6: #ff1f1f;
  --bg-color-7: #ff701f;
  --bg-color-8: #ffa640;
  --bg-color-9: #ffbe40;
  --bg-color-10: #ffd43a;
  --bg-color-11: #fff61e;
  --bg-color-12: #faff16;
  --bg-color-13: #c3ff18;
  --bg-color-14: #444444;
  --bg-color-15: #f9f9f9;
  --bg-color-16: #2b2b2b;

  //shadow
  --shadow-color-1: 0 0 2px rgba(0, 0, 0, 0.65);

  //border
  --border-color-1: #dddddd;
  --border-color-2: rgba(221, 221, 221, 0.5);
  --text-color-1: #2b2b2b;

  //TEXT

  //font-size
  --font-size-1: 20px;
  --font-size-2: 16px;
  --font-size-3: 14px;
  --font-size-4: 13px;
  --font-size-5: 24px;
  --font-size-6: 12px;

  //line-height
  --line-height-1: 24px;
  --line-height-2: 20px;
  --line-height-3: 16px;
  --line-height-4: 15px;
  --line-height-5: 28px;
  --line-height-6: 14px;
  --line-height-7: 18px;
  --line-height-8: 12px;

  //font-wright
  --font-weight-1: 700;
  --font-weight-2: 400;
  --font-weight-3: 600;
  --font-weight-4: 300;

  //MARGIN

  //margin-bottom
  --mb-title-1: 12px;
  --mb-title-2: 20px;

  //PADDING

  //star and smile
  --padding: 8px;

  //GAP

  --border-spacing: 12px;
  --gap-star: 20px;
  --gap-smile: 4px;
  --gap-table-number: 10px;
  --gap-text-col: 5px;
  --gap-text-row: 6px;

  //BORDER RADIUS
  --radius: 12px;
  --radius-1: 4px;

  //SMILE SIZE
  --smile-width-xs: 40px;
  --smile-height-xs: 40px;
  --smile-width-sm: 48px;
  --smile-height-sm: 48px;
  --smile-width-md: 52px;
  --smile-height-md: 52px;
  --smile-width-lg: 56px;
  --smile-height-lg: 56px;

  //WIDTH OUTLINE
  //table td
  --w-outline-1: 1px;
  --w-outline-2: 2px;
}

//mixins text

@mixin text1 {
  font-style: normal;
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  font-weight: var(--font-weight-1);
}
@mixin text2 {
  font-style: normal;
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-2);
}
@mixin text3 {
  font-style: normal;
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
}
@mixin text4 {
  font-style: normal;
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  font-weight: var(--font-weight-4);
}

//mixins smile size

@mixin smile-xs {
  width: var(--smile-width-xs);
  height: var(--smile-height-xs);
}
@mixin smile-sm {
  width: var(--smile-width-sm);
  height: var(--smile-height-sm);
}
@mixin smile-md {
  width: var(--smile-width-md);
  height: var(--smile-height-md);
}
@mixin smile-lg {
  width: var(--smile-width-lg);
  height: var(--smile-height-lg);
}

// btns

@mixin default-btn {
  line-height: var(--line-height-7);
  font-weight: var(--font-weight-1);
  color: var(--bg-color-1);
  font-size: var(--font-size-3);
  border-radius: var(--radius-1);
  min-width: 250px;
  min-height: 56px;
  padding: 12px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
  @media (max-width: 425px) {
    min-width: 230px;
    min-height: 36px;
    line-height: var(--line-height-8);
    font-size: var(--font-size-6);
  }
}
