@import "~bootstrap";
@import "themify";
@import "css-variable";
@import "header";
@import "footer";

.survey-fill {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-15);
  min-height: 100vh;
  font-family: "Montserrat", serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", serif;
  }

  @import "questions";

  &.survey-fill--default {
    .question ~ .question {
      margin-top: 40px;
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
    }
  }

  .survey-fill__background {
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    inset: 0;
    background-size: cover;
  }
}

.fancybox-container {
  .fancybox-image {
    width: 90%;
    object-fit: contain;
    border-radius: 18px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
  }
}

.fancybox-wrap {
  .fancybox-overlay {
    background: rgba(43, 43, 43, 0.5);
  }

  .fancybox-skin {
    padding: 0 !important;
    border-radius: 18px;
    width: calc(100% - 36px) !important;
    @include media-breakpoint-down(xs) {
      width: 100% !important;
      border-radius: 4px;
    }
  }

  .fancybox-inner {
    width: 100%;
    border-radius: 18px;
    @include media-breakpoint-down(xs) {
      border-radius: 4px;
    }
  }

  .fancybox-image {
    border-radius: 18px;
    padding-right: 40px;
    object-fit: contain;
    @include media-breakpoint-down(xs) {
      padding-right: 0;
      border-radius: 4px;
    }
  }

  .fancybox-close {
    background: none;
    border-radius: 50%;
    top: 0;
    right: -36px;
    transition: 0.3s ease-in-out;

    @include media-breakpoint-down(xs) {
      top: 0;
      right: 0;
    }
    &:hover {
      &::before,
      &::after {
        background: #1edc1a;
      }
    }

    &::before {
      transition: 0.3s ease-in-out;
      position: absolute;
      content: "";
      display: block;
      background: #dddddd;
      width: 2px;
      height: 16px;
      left: 17px;
      top: 10px;
      transform: rotate(-45deg);
      @include media-breakpoint-down(xs) {
        background: #1edc1a;
      }
    }

    &::after {
      transition: 0.3s ease-in-out;
      position: absolute;
      content: "";
      display: block;
      background: #dddddd;
      width: 2px;
      height: 16px;
      transform: rotate(45deg);
      top: 10px;
      left: 17px;
      @include media-breakpoint-down(xs) {
        background: #1edc1a;
      }
    }
  }
}

// .irs--big {
//   margin: 0 40px;
//   position: relative;

//   .irs {
//     position: static;
//   }

//   .irs-min {
//     top: auto;
//     bottom: 7px;
//     left: -40px;
//     visibility: visible !important;
//     font-weight: 900;

//     @include background-color('bg-primary');
//     @include color('text-third');
//   }

//   .irs-max {
//     top: auto;
//     bottom: 7px;
//     right: -40px;
//     visibility: visible !important;
//     font-weight: 900;

//     @include background('bg-primary');
//     @include color('text-third');
//   }

//   .irs-single {
//     opacity: 0.7;
//     padding: 2px 10px;
//     @include border-radius(0);

//     @include color('text-secondary');
//     @include background('bg-secondary');
//   }

//   .irs-line {
//     border-color: transparent;
//     @include box-shadow(none);

//     border-color: transparent;
//     @include background('border-primary');
//   }

//   .irs-bar {
//     @include box-shadow(none);

//     border-color: transparent;
//     @include background('primary');
//   }

//   .irs-handle {
//     @include box-shadow(none);

//     top: 26px;
//     width: 24px;
//     height: 24px;

//     @include background('bg-primary');
//   }
// }
