.question {
  &.question--clicktest {
    .clicktest-wrapper {
      position: relative;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width: 1036px;
        max-height: 518px;
        border-radius: 12px;

        @include media-breakpoint-down(xs) {
          max-height: 240px;
        }

        &.clicktest__desktop-img {
          @include media-breakpoint-down(xs) {
            display: none;
          }
        }
      }

      .clicktest__mobile-img {
        display: none;
        @include media-breakpoint-down(xs) {
          display: block;
        }
      }

      span {
        width: 16px;
        height: 16px;
        background: url("../../../public/img/type-questions/click-marker.svg")
          center center/contain no-repeat;
        position: absolute;
        z-index: 10;
      }
    }
  }
}
