.question {
  //padding: 0;

  &.question--matrix {
    margin-top: 200px;
    position: relative;

    //&.scroll-top {
    //    .table-wrapper {
    //        &:nth-child(1) {
    //            box-shadow: inset 0 10em 30px 30px rgba(0, 0, 0, 0.05);
    //        }
    //    }
    //
    //}
    //&.scroll-left {
    //    .table-wrapper {
    //        &:nth-child(2) {
    //            box-shadow: inset 14em 0 30px 30px rgba(0, 0, 0, 0.05);
    //        }
    //    }
    //
    //}
    //&.scroll-right {
    //    .table-wrapper {
    //        &:nth-child(3) {
    //            box-shadow: inset -2em 0 30px 30px rgba(0, 0, 0, 0.05);
    //        }
    //    }
    //
    //}
    //&.scroll-bottom {
    //    .table-wrapper {
    //        &:nth-child(3) {
    //            box-shadow: inset -2em -2em 30px 30px rgba(0, 0, 0, 0.05);
    //        }
    //    }
    //}

    .table-wrapper {
      width: 900px;
      height: 600px;
      margin: auto;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 16px;
        background: #ececec;
        border-radius: 16px;
      }

      &::-webkit-scrollbar-thumb {
        background: #1edc1a;
        border-radius: 16px;
      }

      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &::-webkit-scrollbar {
          visibility: hidden;
        }

        table {
          td:not(.sticky-head) {
            visibility: hidden;
          }
        }
      }

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &::-webkit-scrollbar {
          visibility: hidden;
        }

        table {
          td:not(.sticky-left) {
            visibility: hidden;
          }
        }
      }

      &:nth-child(3) {
        table {
          td:not(.sticky-body) {
            visibility: hidden;
          }
        }
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 3px;
      margin: 0;

      .cell {
        &.sticky-head {
          z-index: 1;
          left: 0;
          top: 0;
          position: sticky !important;
          position: -webkit-sticky !important;
          background: #fff;
        }

        &.sticky-left {
          z-index: 1;
          left: 0;
          top: 0;
          position: sticky !important;
          position: -webkit-sticky !important;
          background: #fff;
        }

        &.sticky-body {
          top: 50px;
          left: 130px;
        }
      }

      thead tr:first-child {
        td:first-child {
          visibility: hidden;
        }
      }

      th,
      td {
        border: 1px solid #dddddd;
        height: 45px;
        min-width: 130px;
        padding: 12px 14px;
        border-radius: 12px;
      }
    }
  }
}

.google-table {
  position: relative;
  margin: 200px auto;
}

.google-table .wrapper {
  overflow: scroll;
  padding-bottom: 10px;
  width: 500px;
  height: 300px;
}

.google-table .table {
  border-collapse: separate;
  //border-spacing: 12px;
}

.google-table .wrapper-1,
.google-table .wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.google-table .table {
  display: table;
  width: 100%;
  margin: 0;
}

.table-row-outline {
  //display: flex;
  display: table-cell;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  height: 2.5em;
}

.google-table .wrapper-3 .table-row-outline {
  border: 1px solid red;
}

.google-table .table-row {
  display: table-row;
}

.table-row-empty {
  height: 12px;
  background: transparent;
  display: table-cell;
}

.table-cell-empty {
  width: 12px;
  min-width: 12px !important;
  background: transparent;
  padding: 0 !important;
  display: table-cell;
}

.google-table .table-cell {
  display: table-cell;
  height: 2.5em;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
  min-width: 120px;
}

//.google-table .wrapper-1 {
//    clip-path: polygon(125px 0%, 100% 0px, 100% 100%, 125px 100%);
//}
//
//.google-table .wrapper-2 {
//    clip-path: polygon(0px 45px, 100% 45px, 100% 100%, 0px 100%);
//}
//
//.google-table .wrapper-3 {
//    clip-path: polygon(
//            calc(100% - 15px) 45px,
//            calc(100% - 15px) 0px,
//            100% 0px,
//            100% 100%,
//            0px 100%,
//            0px calc(100% - 15px),
//            125px calc(100% - 15px),
//            125px 45px
//    );
//}

.vue-test-table {
  display: flex;
  justify-content: center;
  .vue-test-table__rel {
    position: relative;
    width: 100%;
    //overflow: auto;
  }

  .table-header {
    display: flex;
    position: absolute;
    gap: 10px;
    left: 210px;
    top: -10px;
    max-width: 900px;
    overflow: hidden;
  }

  .table-left-col {
    //gap: 10px;
    position: absolute;
    left: 0;
    top: 48px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 596px;
  }

  .vue-test-table__wrapper {
    margin-left: 210px;
    margin-top: 48px;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
  }

  .table-body {
    max-width: 900px;
    max-height: 596px;
    display: flex;
    flex-direction: column;
    //gap: 10px;
  }

  .table-body__row {
    display: flex;
    gap: 10px;
  }

  .table-left-col__cell {
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
    div {
      max-width: 304px;
    }
  }

  .table-header__cell {
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
  }

  .table-body__cell {
    .test {
      display: flex;
      align-items: center;
      justify-content: center;
      //min-height: 50px;
    }
  }

  .table-left-col__cell,
  .table-body__cell,
  .table-header__cell {
    //margin-top: 10px;
    min-width: 200px;
    padding: 5px 10px;
    color: #000;
    font-size: 24px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;

    &.sticky-column {
      position: absolute;
      left: 0;
    }

    &.sticky-header {
    }
  }
}

.google-table .table-cell.table-cell--empty {
  visibility: hidden !important;
  background: transparent !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

.table.table--1 .table-row {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.table.table--1 .table-row:first-child {
  visibility: visible;
  opacity: 1;
  border: none;
}

.table.table--1 .table-row:first-child {
  left: 0;
  top: 0;
  position: sticky !important;
  position: -webkit-sticky !important;
}

.table-row:first-child .table-row-outline {
  border: none !important;
  gap: 12px;
}

.table-row:first-child .table-row-outline .table-cell {
  padding: 6px 0;
}

.table.table--1 .table-row:first-child .table-cell {
  border: 1px solid red;
  border-radius: 9px;
}

.table.table--2 .table-row .table-cell:not(.table-cell--2) {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.table.table--2 .table-row .table-cell--2 {
  visibility: visible;
  opacity: 1;
  background: green;
  left: 0;
  position: sticky !important;
  position: -webkit-sticky !important;
}

.table.table--3 .table-row .table-cell {
  visibility: visible;
  opacity: 1;
}

.table.table--3 .table-row:first-child {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.table.table--3 .table-row .table-cell:has(.table-cell--2) {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
