.question {
  &.question--multidropdown {
    &.question--disabled {
      .dropdown {
        &.dropdown--active {
          &.dropdown--noempty {
            .dropdown__head-items {
              position: absolute;
              inset: 8px 0;
              right: 55px;
              overflow-x: scroll;
              overflow-y: hidden;
              flex-wrap: nowrap;
              border-radius: 0;

              &::-webkit-scrollbar {
                height: 2px;
              }

              &::-webkit-scrollbar-thumb {
                height: 2px;
                background: grey;
              }
            }
          }

          .dropdown-items {
            display: none;
          }

          .dropdown__text {
            display: block;
          }

          .dropdown-inner {
            display: none;
          }
        }
      }
    }

    .dropdown {
      font-size: 14px;
      color: #000;
      font-weight: 400;
      position: relative;

      &.dropdown--active {
        &.dropdown--noempty {
          .dropdown__head-items {
            padding: 8px;
            position: inherit;
            flex-wrap: wrap;
            overflow: visible;
            inset: unset;
            right: unset;
            border-radius: 12px;
          }
        }
      }

      &.dropdown--noempty {
        .dropdown__head-items {
          position: absolute;
          inset: 8px;
          right: 55px;
          overflow-x: scroll;
          flex-wrap: nowrap;
          border-radius: 0;

          &::-webkit-scrollbar {
            height: 2px;
          }

          &::-webkit-scrollbar-thumb {
            height: 2px;
            background: grey;
          }
        }

        .dropdown__text {
          padding: 17px 55px 17px 16px;
          @include media-breakpoint-down(xs) {
            min-height: 60px;
          }
        }
      }

      .dropdown__head-items {
        position: inherit;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        background: #fff;
        border-radius: 12px;
      }

      .question__element {
        border-radius: 0;
        outline: 1px solid #ddd;

        @include media-breakpoint-down(xs) {
          align-items: center;
        }

        &:hover {
          //outline: 1px solid #DDD;
          background: linear-gradient(
              0deg,
              rgba(30, 220, 26, 0.2) 0%,
              rgba(30, 220, 26, 0.2) 100%
            ),
            #fff;
        }

        &.question__element--active {
          outline: none;

          &:hover {
            outline: none;
            background: #1edc1a;
          }
        }

        &:last-child {
          border-radius: 0 0 12px 12px;
          @include media-breakpoint-down(xs) {
            border-radius: 0 0 8px 8px;
          }
        }
      }

      .dropdown__head-item {
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        color: #fff;
        gap: 13px;
        background: #1edc1a;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        button {
          width: 12px;
          height: 12px;
          background: url("../../../public/img/type-questions/close-w.svg")
            center center/contain no-repeat;
          border: none;
          padding: 0;
        }

        p {
          margin: 0;
          @include media-breakpoint-down(sm) {
            max-width: 460px;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
          }
          @include media-breakpoint-down(xs) {
            max-width: 213px;
          }
        }
      }
    }
  }
}
