.question {
  .question__wrapper {
    max-width: 956px;
    margin: auto;
  }

  .question__row-title {
    cursor: pointer;
    text-align: center;
    color: var(--text-color-1);
    @include text3;
  }

  &.question--scale {
    .question__table {
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: var(--border-spacing);

      th {
        min-width: 116px;
      }

      &.question__table--multiple {
        tr {
          &:hover {
            td,
            th {
              outline: var(--w-outline-2) solid var(--primary);
            }
          }
        }
      }

      td,
      th {
        padding: 14px 12px;
        outline: var(--w-outline-1) solid var(--border-color-1);
        border-radius: var(--radius);
        background: var(--bg-color-1);

        span {
          cursor: pointer;
          width: 100%;
          display: block;
          padding: 5px 10px;
          text-align: center;
          border: var(--w-outline-1) solid transparent;
        }
      }

      .question__row-flex {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-smile);

        span {
          transition: 150ms ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &.question--scale-without-col {
      colgroup {
        display: none;
      }

      th {
        display: none;
      }
    }

    &.question--scale-star {
      .question__table {
        td,
        th {
          padding: 14px 10px;
        }

        span {
          padding: 0;
        }
      }

      .question__row-flex {
        gap: var(--gap-star);
      }
    }

    &.question--scale-smile {
      .question__table {
        td,
        th {
          padding: var(--padding);
        }
      }

      tr {
        &:hover {
          span {
            opacity: 0.5;
          }
        }

        span {
          padding: 6px;
          border-radius: 8px;
          outline: var(--w-outline-2) solid transparent;

          &:hover {
            opacity: 1;
            outline: var(--w-outline-2) solid var(--primary);
          }

          &.active {
            background: var(--primary);
          }
        }
      }

      &.question--scale-smile-color {
      }

      &.question--scale-smile-monochrome {
      }
    }

    &.question--scale-overlay {
      .question__table {
        border-collapse: collapse;
        border-spacing: unset;

        td,
        th {
          border-radius: 0;
          padding: 0;
          border: none;
          outline: none;
        }

        th {
          min-width: 126px;
          background: transparent;
          padding: var(--gap-text-row) var(--gap-text-col);

          span {
            background: transparent;
            border-radius: var(--radius);
            outline: var(--w-outline-1) solid var(--border-color-1);
          }

          &:first-child span {
            margin-left: -5px;
          }

          &:last-child span {
            margin-left: 5px;
          }
        }

        tr:hover th span {
          outline: 2px solid var(--primary);
        }

        td span,
        th span {
          min-height: 56px;
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 5px 12px;
          border-radius: var(--radius);
          min-width: 94px;
          background: var(--bg-color-1);
          @include text3;

          &:hover {
            outline: 2px solid var(--primary);
          }
        }

        .question__table-item {
          color: var(--text-color-1);

          &.question__table-item--active {
            background: var(--primary);
            outline-color: var(--primary);
            color: var(--bg-color-1);
          }
        }

        tr td {
          background: var(--border-color-2);
          padding: var(--gap-text-row) var(--gap-text-col);
        }

        tr td:first-of-type {
          padding-left: 12px;
        }

        tr:first-child td {
          padding-top: 12px;
        }

        tr:last-child td {
          padding-bottom: 12px;
        }

        tr:first-child td:first-of-type {
          border-top-left-radius: 10px;
        }

        tr:first-child td:last-of-type {
          border-top-right-radius: 10px;
        }

        tr:last-child td:first-of-type {
          border-bottom-left-radius: 10px;
        }

        tr:last-child td:last-of-type {
          border-bottom-right-radius: 10px;
        }

        tr td:last-of-type {
          padding-right: 12px;
        }
      }
    }

    &.question--scale-number {
      .question__table {
        td {
          span {
            padding: 0;
            width: 56px;
            height: 56px;
            min-width: unset;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:last-child,
          &:first-child {
            span {
              margin-right: 5px;
              margin-left: 0;
              width: 100%;
            }
          }
        }
      }

      &.question--scale-number-color {
        .question__row-color-item {
          padding: 0;

          &.question__row-color-item--0 {
            background: var(--bg-color-4);
          }

          &.question__row-color-item--1 {
            background: var(--bg-color-5);
          }

          &.question__row-color-item--2 {
            background: var(--bg-color-6);
          }

          &.question__row-color-item--3 {
            background: var(--bg-color-7);
          }

          &.question__row-color-item--4 {
            background: var(--bg-color-8);
          }

          &.question__row-color-item--5 {
            background: var(--bg-color-9);
          }

          &.question__row-color-item--6 {
            background: var(--bg-color-10);
          }

          &.question__row-color-item--7 {
            background: var(--bg-color-11);
          }

          &.question__row-color-item--8 {
            background: var(--bg-color-12);
          }

          &.question__row-color-item--9 {
            background: var(--bg-color-13);
          }

          &.question__row-color-item--10 {
            background: var(--bg-color-3);
          }

          div {
            color: var(--text-color-1);
            @include text3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 8px;
          }

          &.active {
            div {
              border: var(--w-outline-2) solid var(--bg-color-1);
              color: var(--bg-color-1);
              background: var(--primary);
            }
          }
        }

        .question__table {
          td {
            outline: none;
            padding: 0;

            .question__row-flex {
              gap: var(--gap-table-number);

              span {
                border-radius: 12px;
                outline: var(--w-outline-1) solid var(--border-color-1);

                &:hover {
                  opacity: 1;
                  outline: var(--w-outline-2) solid var(--primary);
                }
              }
            }
          }

          td:first-child,
          td:last-child {
            outline: var(--w-outline-1) solid var(--border-color-1);
          }

          tr:hover {
            .question__row-flex {
              span {
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }

          &.question__table--multiple {
            tr:hover {
              td {
                outline: none;
              }

              td:first-child,
              td:last-child {
                outline: 2px solid;
                outline-color: var(--primary);
              }
            }
          }
        }
      }
    }

    &.question--scale-range {
      .question__range-type {
        width: 100%;
        display: grid;
        grid-template-columns: 0.2fr auto 0.2fr;
        gap: 12px;
        margin-bottom: 12px;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          .question__range-side {
            outline: 2px solid var(--primary);
          }
        }

        @media (max-width: 767.98px) {
          display: block;
        }
      }

      .question__table-wrapper {
        margin-left: 0;
        margin-right: 0;
      }

      .question__range-side {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 56px;
        min-width: 150px;
        width: 150px;

        @media (max-width: 767.98px) {
          display: none;
        }
      }

      .question__range-sides-mob {
        display: none;

        @media (max-width: 767.98px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          margin-bottom: 12px;
        }
      }

      .question__range-side-mob {
        color: #2b2b2b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        //width: 200px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }

      .question__wrapper {
        width: 100%;
        max-width: unset;
      }

      .question__range-outer {
        width: 100%;
      }

      .question__range-side {
        background: var(--bg-color-1);
        outline: var(--w-outline-1) solid var(--border-color-1);
        border-radius: 12px;
        padding: 20px 12px;
        @include text3;
        text-align: center;
        color: var(--text-color-1);
        //min-width: 156px;
      }

      .question__range-wrapper {
        margin-top: -21px;
        width: 100%;
        position: relative;

        .irs {
          &.irs--big {
            height: 55px;

            .irs-from::before {
              left: calc(50% - 5px);
              bottom: -6px;
            }

            .irs-handle.from {
              top: 17px;
            }

            .irs-handle.to {
              top: -8px;
            }
          }

          &.irs-with-grid {
            .irs-grid {
              bottom: 15px;
            }

            .irs-to::before {
              left: calc(50% - 5px);
            }
          }

          .irs-min,
          .irs-max {
            display: none;
          }

          .irs-line {
            border: 1px solid #ccc;
            height: 10px;
            background: var(--bg-color-1);
          }

          .irs-bar {
            height: 10px;
            border: var(--w-outline-1) solid var(--border-color-1);
            border-radius: 10px;
            background: linear-gradient(0deg, var(--primary), var(--primary)),
              var(--bg-color-1);
          }

          .irs-handle {
            width: 24px;
            height: 24px;
            background: var(--primary);
            position: relative;
            z-index: 4;
            top: 17px;
            border: none;
            box-shadow: var(--shadow-color-1);
            border-radius: 30px;

            i {
              display: none;
            }

            &:active {
              &::before {
                top: -6px;
                left: -6px;
                border-radius: 50%;
                display: block;
                position: absolute;
                content: "";
                opacity: 0.2;
                width: 36px;
                height: 36px;
                z-index: -1;
                background: var(--primary);
                visibility: visible;
              }
            }

            &.from {
              top: 9px;
            }

            &.to {
              top: -15px;
            }
          }

          .irs-single,
          .irs-from,
          .irs-to {
            display: none;
            top: -24px;
            border-radius: 10px;
            padding: 12px 14px;
            color: var(--text-color-1);
            background: var(--bg-color-1);
            border: var(--w-outline-1) solid var(--border-color-1);
            @include text4;
            z-index: 1;

            &::before {
              position: absolute;
              content: "";
              width: 10px;
              height: 10px;
              bottom: -5px;
              border-left: 0 solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid var(--border-color-1);
              left: calc(50% - 5px);
              transform: rotate(227deg);
            }

            &::after {
              position: absolute;
              content: "";
              width: 10px;
              height: 10px;
              bottom: -4px;
              border-left: 0 solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid var(--bg-color-1);
              left: calc(50% - 5px);
              transform: rotate(227deg);
            }
          }

          .irs-from {
            top: -33px;
            &::before {
              left: calc(50% - 1px);
              bottom: -6px;
            }
          }
          .irs-to {
            top: -33px;
            &::before {
              left: calc(50% - 1px);
              bottom: -6px;
            }
          }

          .irs-grid-text {
            display: none;
          }

          .irs-grid {
            height: 4px;
            bottom: 19px;
            z-index: 3;
          }

          .irs-grid-pol {
            width: 2px;
            height: 4px;
            background: var(--bg-color-1);

            &.small {
              display: none;
            }
          }
        }
      }
    }

    &.question--scale-range-multiple {
      .question__element {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
